body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body
{	
	
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment: fixed;
	color:white solid;
	background-size: 100% 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; line-height: 24px;
}

/*Nav bar*/
nav
{ 
	text-align: center;
	z-index: 3;	
	position:fixed;
	width:100%;
	color:white;
}
#homenav
{
	top:20px;
}

nav ul ul 
{
	display: none;
}

nav ul li:hover > ul 
{
	display: block;
}

nav ul 
{
	background: white; 
	background: linear-gradient(top,darkred  0%, black 100%); 
	background: -webkit-linear-gradient(top, darkred 0%, black 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 4px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after
{
	content: ""; clear: both; display: block;
}

nav ul li 
{
	float: left;
}
nav ul li:hover 
{
	background: #440A0A	;
}
			
nav ul li:hover a 
{
	color: white;
}
		
nav ul li a 
{
	display: block; padding: 25px 40px;
	color: white; text-decoration: none;
}
				
nav ul ul 
{
	background: #400000; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	
nav ul ul li 
{
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a; position: relative;
}
		
nav ul ul li a 
{
	padding: 15px 40px;
	color: white ;
}	

nav ul ul li a:hover 
{
	background: black;
}
	
nav ul ul ul 
{
	position: absolute; left: 100%; top:0;
}

/*Paragraphs*/	
section
{
	background-color: white;
	width:800px;
	opacity:0.7;
	position: relative;
	color:black;
	top:150px;
	left:50px;
	padding-right: 16px;
	padding-left: 16px;
	padding-top:16px;
	padding-bottom:16px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:20px;
	border-radius:10px;	
}

img 
{
	float:right;
	z-index:2;
	opacity:1;
	margin:5px;
	border-radius:10px;
}

h1
{
	text-align:center;
	color:darkred;
	width:auto;
	margin:5px;
}
#list
{
	margin-left:16px;
	padding-left:16px;
}

blockquote 
{
font-family: Georgia, serif;
font-size: 22px;
font-style: italic;
width: 700px;
margin: 0.25em 0;
margin-right:auto;
margin-left:auto;
padding: 0.25em 40px;
margin-top: 150px;
line-height: 1.45;
position: relative;
color: red;
text-align:center;
background-color:white;
opacity:0.7;
z-index: -1;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: red;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}


a:link {text-decoration:none;}  
a:visited {text-decoration:none} 
a:hover {text-decoration:none}  
a:active {text-decoration:none}

#end
{
	margin:10px;
	padding:10px;
	height:10px;
}
/*Animation and Video*/
#video
{
	margin-right:auto;
	margin-left:auto;
	width: 800px; 
	height: 340px; 
}

#alien
{
width:100px;
height:100px;
position:fixed;
animation:myfirst 15s;
-webkit-animation:myfirst 15s;
-webkit-animation-iteration-count: infinite;
bottom:10px;
z-index:25
}

@-webkit-keyframes myfirst
{
0%   {background: left:0%; top:0%;}
50% {left:87%; right:87%;}
100% {left:-20%; right:-20;}
}